
.adminProfiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}

.admin-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-img-search{
    position: relative;
    right: 50px;
}

.admin-input{
    width: 431px;
    height: 66px;
    color: #161C22;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    left: 50px;
}

.admin-input::placeholder{
    color: rgba(22,28,34, 1);
}


.table-container {
    overflow-x: auto;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 50px;
}

table {
    width: 900px;
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    color: #ffffff;
}
th {
    width: 800px;
    background-color: transparent;
    font-size: 24px;
}
tr{
    font-size: 16px;
}
tr:hover {
    background-color: #444;
}
.actions button {
    background: none;
    border: none;
    color: #bbb;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.actions{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.actions img {
    width: 40px;
    height: 40px;
}
.actions button:hover {
    color: #4a90e2;
}
.delete:hover {
    color: #e24a4a;
}

.profiles-link{
    width: 100%;
}