
.mainFrame{
    background-image: url("../../../public/static/img/Rabbit.png");
    background-size: cover; /* Зображення розтягується, щоб покрити весь блок */
    background-repeat: no-repeat; /* Зображення не повторюється */
    height: 612px;
    width: auto;
}

.lazybunny{
    font-size: 96px;
    line-height: 100px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    background: linear-gradient(to bottom, #E1DD73, #655e5e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lazyFrame{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

#textFrame{
    font-family: "Comic Sans MS", cursive;
    font-size: 36px;
    font-weight: bold;
    color: white;

}

#buttonStart{
    width: 260px;
    height: 71px;
    color: 3B3E51;
    background-color: D9D9D9;
    border-radius: 20px;
    font-size: 32px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#buttonStart:hover{
    width: 270px;
    height: 81px;
    background-color: FBF8F8;
}