@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
 
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-bottom: -50px;
}

.font{
    font-family: "Comic Sans MS", cursive;
    font-size: 11px;
    color: black;
}

.logodiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-bottom: -50px;
}

.div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-bottom: -50px;
}
