
.filmPage{
    background-image: url("../../../public/static/img/MainPage.png");
    background-size: cover; /* Зображення розтягується, щоб покрити весь блок */
    background-repeat: no-repeat; /* Зображення не повторюється */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden
}

.filmMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.filmInfoDiv{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 85px;
    padding: 10px;
}

.filmImgDiv{
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(21,23,30,0.8);
    gap: 15px;
    padding: 10px;
}

#filmIMG{
    width: 265px;
    height: 420px;
    border-radius: 15px;
}

.filmTextDiv{
    width: 619px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: rgba(21,23,30,0.8);
    gap: 16px;
    padding: 30px 20px;

}

#filmFont{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#fontP{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#fontStar{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.filmDescriptionDiv{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filmTop{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: rgba(21,23,30,0.8);

}

.filmTextDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(21,23,30,0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#fontD{
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-indent: 2em; 
    line-height: 1.6;   
}